@model DonorFormModel

@{
    ViewBag.Title = "Przekazywanie podarków";
}

<h1>@ViewData["Title"]</h1>

<script>
    var str = window.location.href;
    var n = str.lastIndexOf('/');
    var result = str.substring(n + 1);

    document.getElementById("main_form").action = "/Home/Donation/2";
</script>


<!--<form action="/Home/Donation/1" method="post">
    <label for="First_Name">Name</label>
    <input type="text" name="First_Name" />

    <label for="Last_Name">Last</label>
    <input type="text" name="Last_Name" />
    <label for="Email">Email</label>
    <input type="text" name="Email" />
    <input type="submit" name="submit" />
</form>-->

<!--
@using (Html.BeginForm("Donation", "Home", new {name="kampania", id = "1" }, FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label asp-for="Campaign">Wybrana kampania: </label>
                @Html.HiddenFor(model => model.Campaign, new { @Value = 2 })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                @Html.TextBoxFor(model => model.Email)
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="First_Name">Imię</label>
                @Html.TextBoxFor(model => model.First_Name)
                <span asp-validation-for="First_Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Last_Name">Nazwisko</label>
                @Html.TextBoxFor(model => model.Last_Name)
                <span asp-validation-for="Last_Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Numer telefonu*</label>
                @Html.TextBoxFor(model => model.PhoneNumber)
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="County">Województwo*</label>
                @Html.TextBoxFor(model => model.County)
                <span asp-validation-for="County" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City">Miejscowość*</label>
                @Html.TextBoxFor(model => model.City)
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Street">Ulica*</label>
                @Html.TextBoxFor(model => model.Street)
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Street_Number">Numer budynku*</label>
                @Html.TextBoxFor(model => model.Street_Number)
                <span asp-validation-for="Street_Number" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostalCode">Kod pocztowy*</label>
                @Html.TextBoxFor(model => model.PostalCode)
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="birthday">Wybierz datę odbioru podarków*:</label>
                @Html.TextBoxFor(model => model.Date)
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Przekaż darowiznę" class="btn btn-primary" />
                </div>
            </div>

            <p>* - pola wymagane</p>

        </div>
    </div>
}-->

    <div class="row">
        <div class="col-md-12">
            <form id="main_form" action="/Home/Donation/1" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Campaign">Kampania numer: </label>
                    <span asp-validation-for="Campaign" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="First_Name">Imię</label>
                    <input asp-for="First_Name" class="form-control" />
                    <span asp-validation-for="First_Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Last_Name">Nazwisko</label>
                    <input asp-for="Last_Name" class="form-control" />
                    <span asp-validation-for="Last_Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber">Numer telefonu*</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="County">Województwo*</label>
                    <input asp-for="County" class="form-control" />
                    <span asp-validation-for="County" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City">Miejscowość*</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Street">Ulica*</label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Street_Number">Numer budynku*</label>
                    <input asp-for="Street_Number" class="form-control" />
                    <span asp-validation-for="Street_Number" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PostalCode">Kod pocztowy*</label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="birthday">Wybierz datę odbioru podarków*:</label>
                    <input type="date" id="pickup_date">
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <input type="submit" name="submit" />
                <!--<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Donation", "Home")'">Przekaż darowiznę</button>


    <button OnClick="send_Click" class="btn btn-primary">Przekaż darowiznę</button>
    <button type="submit" class="btn btn-primary">Przekaż darowiznę</button><br />-->
                <p>* - pola wymagane</p>

            </form>
        </div>
    </div>
