@model Projek_MVC_v2.Models.KampanieDisplayDataModel
@{
    ViewData["Title"] = "Wspomóż wybraną kampanię";

}

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
       
        <img class="resize-image center-block" id="image" width="60%" height="auto" src="@Model.obrazek_path" />
        <p id="campaign" class="text-center"><strong>@Model.tytul</strong></p>
        <p id="description" class="text-center">@Model.dlugiopis</p>
       

        <form id="profile-form" method="post" action="/Home/DonorForm">

            <input class="form-control" value="@Model.idkampania" type="hidden" name="idkampania" />
            <input class="form-control" value="@Model.tytul" type="hidden" name="tytul" />
            <input class="form-control" value="@Model.username" type="hidden" name="username" />
            <input class="form-control" value="@Model.telefon" type="hidden" name="telefon" />


            <input class="form-control" value="@Model.odziez" type="hidden" name="odziez" />
            <input class="form-control" value="@Model.leki" type="hidden" name="leki" />
            <input class="form-control" value="@Model.zywnosc" type="hidden" name="zywnosc" />

            <input class="form-control" value="@Model.obrazek_path" type="hidden" name="obrazek" />
        
            <input class="form-control" value="@Model.dlugiopis" type="hidden" name="opis" />
            <input class="form-control" value="@Model.krotkiopis" type="hidden" name="k_opis" />


            <button id="1" class="btn btn-outline-secondary" type="submit">Przekaż podarunek</button>

        </form>
    </div>
