@page
@model Projek_MVC_v2.Areas.Identity.Pages.Account.Manage.EditMyCampaingModel
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UM
@{
    ViewData["Title"] = "Moje kampanie";
    ViewData["ActivePage"] = ManageNavPages.ShowMyCampaign;
}
@using MySql.Data.MySqlClient;
@using System.Linq;
@{
    var user = await UM.GetUserAsync(User);
    var model = new List<KampanieDisplayDataModel>();
    DatabaseConnection db = new DatabaseConnection();
    MySqlConnection cnn = new MySqlConnection(db.GetConString());
    var command = cnn.CreateCommand();
    command.CommandText = "select * from kampanie where username='" + user + "'";
    cnn.Open();

    MySqlDataReader rdr = command.ExecuteReader();

    while (rdr.Read())
    {
        var KapaniaModel = new KampanieDisplayDataModel();
        KapaniaModel.idkampania = (int)rdr["idkampanie"];
        KapaniaModel.username = (string)rdr["username"];

        KapaniaModel.tytul = (string)rdr["tytul"];

        KapaniaModel.krotkiopis = (string)rdr["krotki_opis"];
        KapaniaModel.dlugiopis = (string)rdr["opis"];

        KapaniaModel.odziez = (sbyte)rdr["odziez"];
        KapaniaModel.leki = (sbyte)rdr["leki"];
        KapaniaModel.zywnosc = (sbyte)rdr["zywnosc"];


        KapaniaModel.obrazek_path = (string)rdr["picture"];

        model.Add(KapaniaModel);

    }

    //command.ExecuteNonQuery();
    cnn.Close();




}




<div class="text-center">
    <section class="part2">
        <div class="container">
            <div class="row">
                @foreach (var kampania in model)
                {
                <div class="col-md-4">
                    <img alt="" class="resize-image center-block" id="image1" width="100%" height="auto" border-radius="25px" src="@kampania.obrazek_path" />
                    <p class="text-center"><strong>@kampania.tytul</strong></p>
                    <p class="text-center">@kampania.krotkiopis</p>
                    @{ if (model.Any())
                        {
                            <form id="profile-form" method="post">
                                <input class="form-control" asp-for="Input.idKampania" value="@kampania.idkampania" type="hidden" name="idkampania" />
                                <button id="1" class="btn btn-outline-secondary" type="submit"  asp-page-handler="Work2" >Usuń kampanię</button>
                            </form>

                            <text>&nbsp;</text>

                <form id="profile-form" method="post">
                    <input class="form-control" asp-for="Input.idKampania" value="@kampania.idkampania"  type="hidden" name="idkampania" />

                    <input class="form-control" asp-for="Input.title" value="@kampania.tytul"  type="hidden" name="title" />

                    <input class="form-control" asp-for="Input.k_opis" value="@kampania.krotkiopis" type="hidden"  name="k_opis" />

                    <input class="form-control" asp-for="Input.d_opis" value="@kampania.dlugiopis"  type="hidden" name="d_opis" />

                    <button id="2" class="btn btn-outline-secondary" asp-page="./EditMyCampaing" type="submit">Edytuj kampanię</button>
                </form>
                        }
                    }
                </div>
                }
            </div>
        </div>
    </section>
</div>

<!--

      @if (User.Identity.IsAuthenticated && user.user == 1)
                                    {
                                        <button id="1" class="btn btn-outline-secondary" type="submit">Wspomóż</button>
                                    }
                                    else
                                    {
                                        <button id="1" class="btn btn-outline-secondary" type="button" onclick="location.href='\\Identity\\Account\\Login';">Zaloguj się na konto darczyńcy aby wspomóc</button>
                                    }-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
